@import '../../bootstrap'
@import '../../theme'

.chip
  .avatar
    margin-left: 8px
    margin-right:-12px

  &__close
    margin-left: -2px
    margin-right: 4px

  &--select-multi
    margin: $chip-margin 0 $chip-margin $chip-margin

  .icon
    &--right
      margin-left: 0px
      margin-right: 4px

    &--left
      margin-right: 0px
      margin-left: 4px
