@import '../../bootstrap'
@import '../../theme'

.datatable
  thead
    th.column.sortable
      &.active
        &.desc
          i
            transform: rotate(-180deg)

.datatable__actions
  .btn
    &:last-of-type
      margin-left: 18px
      margin-left: 18px

  &__pagination
    margin: 0 32px 0 26px

  &__select
    .input-group--select
      margin: 13px 34px 13px 0px
