@import '../../bootstrap'
@import '../../theme'

.expansion-panel
  text-align: right

  &__container
    .header__icon
      margin-left: 0
      margin-right: auto

    &--active
      .header__icon .icon
        transform: rotate(-180deg)
