@import '../../bootstrap'
@import '../../theme'

.input-group
  label
    text-align: right
    transform-origin: top right

.input-group
  &.input-group--solo
    label
      padding-left: 0px
      padding-right: 16px

.input-group
  &__details
    &:after, &:before
      left: auto
      right: 0

  .progress-linear
    left: auto
    right: 0
