@import '../../bootstrap'
@import '../../theme'

.picker
  &--landscape
    .picker__title
      border-top-right-radius: auto
      border-top-left-radius: 0
      border-bottom-right-radius: auto
      border-bottom-left-radius: 0
      left: auto
      right: 0

    .picker__body
      margin-left: 0px
      margin-right: 170px

    .card__row--actions
      margin-left: 0px
      margin-right: 170px
