table.table
  .input-group--selection-controls
    &.checkbox
      .icon
        left: 0%
        right: 50%
        transform: translateX(50%)

      .input-group--selection-controls__ripple
        left: 0%
        right: 50%
        transform: translate3d(50%, -50%, 0)
