.tabs
  &__bar
    @media $display-breakpoints.sm-and-down
      padding-left: auto
      padding-right: 0

    .icon--left
      left: 0px
      right: 28px

    .icon--right
      right: 0px
      left: 28px

  &__container
    &-left
      left: auto
      right: 0
